@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'poppins', sans-serif;
}
body {
   background-color: black;
}

.main {
   background-image: url(Assets/Images/Image.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: max (1200px, 100vw);
   height: 70vh;
   position: relative;
}

.main .box {
   height: 70vh;
   width: 100%;
   opacity: 0.48;
   background-color: black;
   position: absolute;
   top: 0;
}

nav {
   max-width: 60vw;
   display: flex;
   align-items: center;
   margin: auto;
   justify-content: space-between;
   height: 62px;
}

nav img {
   color: red;
   width: 100px;
   position: relative;
   z-index: 10;
}

nav button {
   position: relative;
   z-index: 10;
}

.hero {
   font-family: 'martel sans', sans-serif;
   height: calc(100% - 62px);
   display: flex; 
   align-items: center;
   justify-content: center;
   position: relative;
   color: white;
   flex-direction: column;
   gap: 23px;
   padding:0 30px;
}
.hero> :first-child {
font-weight: 900;
font-size: 48px;
text-align: center;
}
.hero> :nth-child(2) {
   font-weight: 500;
   font-size: 24px;
   text-align: center;
}
.hero> :nth-child(3){
   font-size: 20px;
   text-align: center;
}
.separation
{
   height: 11px;
   background-color: gray;
}
.btn {
   background-color: transparent;
   color: white;
   padding: 3px 24px;
   border: 1px solid white;
   border-radius: 5px;
   font-size: 18px;
}
.btn-red sn {
   background-color: red;
   padding: 3px 24px;
   border-radius: 5px;
   color: white;
   font-weight: bolder;
   border: 1px solid red;
}
.btn-red {
   background-color: red;
   padding: 3px 24px;
   border-radius: 5px;
   color: white;
   font-weight: bolder;
   border: 1px solid red;
   font-size: 20px;
   
}
.main input{
   padding: 7px 101px 8px 14px;
   border-radius: 4px;
   font-size: 12px;
   font-weight: 900;
   background-color: rgba(23, 23, 23, 0.2);
   border: 1px solid white;
   color: white;
}
section.first>div {
   display: flex;
   flex-direction: column;
   padding: 34px 0;
}

section.first>div :nth-child(1) {
   font-size: 48px;
   font-weight: bolder;
}


section.first>div :nth-child(2) {
   font-size: 24px;

}


.faq h2 {
   text-align: center;
   font-size: 48px;
}

.faq {
   background: black;
   color: white;
   padding: 34px;
}

.faqbox:hover {
   background-color: #414141;
   color: white;
}

.faqbox svg {
   filter: invert(1);
}

.faqbox {
   transition: all 1s ease-out;
   font-size: 24px;
   display: flex;
   justify-content: space-between;
   background-color: #2d2d2d;
   padding: 24px;
   max-width: 60vw;
   margin: 34px auto;
   cursor: pointer;
}

footer {
   color: white;
   max-width: 60vw;
   margin: auto;
   padding: 60px;
}

footer .questions {
   padding: 34px 0;
}


.footer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   color: white;
}

